* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: sans-serif;
    color: #F25922;
}

body, html {
    margin: 0;
}
.container-fluid {
    width: 100%;
}
.container {
    width: 90%;
    margin: 0 auto;
}

.nav {
    height: 20vh;
    width: 100%;
    box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.8);
    padding: 20px 5px;
}
.brand-logo {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid #F25922;
    height: 80vh;
    position: relative;
    padding-top: 60px;
    margin-top: 20px;
}

.header:after{
    content: "";
    background: url("../images/bg.jpg") no-repeat center center;
    opacity: 0.4;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.header .img-slider {
    border: 1px solid #F25922;
    height: 350px;
    background: #F25922;
}

.header .header-title {
    height: 350px;
    text-align: center;
    padding-left: 5vw;
}

.header .header-title div {
    text-align: left;
}

.header .header-title h1 {
    font-size: 4em;
}
.header .header-title a {
    width: 30%;
    background-color: #F25922;
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}