<div class="footer">
    <div class="social-links">
        <p>connect with us via:</p>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <hr>
    </div>
    <p>&copy; Ibadan Fashion Week 2019</p>
</div>

</body>

</html>