<div class="footer">
    <div class="social-links">
        <p>connect with us via:</p>
        <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <hr>
    </div>
    <p>&copy; Ibadan Fashion Week 2019</p>
</div>
<script src="/javascript/frontEndValidate.js"></script>
</body>

</html>