<div class="footer-wrapper">
    <div class="footer-section">
        <div class="footer-section-widgets">
            <div class="widget">
                <img class="alignleft" src="/images/logo.jpg" alt="">
                <h4 class="widget-title">About I Fashion Network</h4>
                <p>
                    I Fashion Network is a training event aimed at
                    projecting the diverse angles of the fashion industry.
                </p>
                <div class="social-links">
                </div>
            </div>
        </div>
        <div class="footer-section-widgets">
            <div class="widget">
                <ul class="links">
                    <li><a href="">07038343470, 08110126338</a></li>
                    <li><a href="#">ifashionnetwork@gmail.com</a></li>
                    <li><a href="/register">Registration</a></li>
                    <li>
                        <a href="#"><i class="fab fa-facebook-f wow zoomIn" data-wow-delay="0.2s"></i></a>
                        <a href="#"><i class="fab fa-instagram wow zoomIn" data-wow-delay="0.3s"></i></a>
                        <a href="#"><i class="fab fa-twitter wow zoomIn" data-wow-delay="0.4s"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="footer-section-widgets">
        <div class="widget">
            <h4 class="widget-title">Stay Up to date</h4>
            <p>
                Subscribe to our newsletter to be the first to hear about annoucenments,
                exclusive offers, news and general updates.
            </p>
            <form action="">
                <input type="text" name="email" id="" placeholder="Email">
                <button class="btn btn-crimson">Subscribe</button>
            </form>
        </div>
    </div> -->
    </div>


    <div class="footer">
        <div>
            <p>&copy; iFashion Network 2019</p>
        </div>
    </div>

</div>

<script defer src="/javascript/signup_validate.js"></script>
<script defer src="/javascript/print.js" ></script>

<script src="/javascript/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/owl.carousel.min.js"></script>
<script async>
let owl = $('.owl-carousel');
owl.owlCarousel({
    items: 3,
    loop: true,
    margin: 15,
    autoplay: true,
    autoplayTimeout: 5000,
    autoplayHoverPause: true
});
</script>
</body>

</html>