
</div>
<div class="footer">
    <div class="social-links">
        <p>connect with us via:</p>
        <a href="#"><i class="fab fa-facebook-f fa-2x wow zoomIn" data-wow-delay="0.2s"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x wow zoomIn" data-wow-delay="0.3s"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x wow zoomIn" data-wow-delay="0.4s"></i></a>
        <hr>
    </div>
    <p>&copy; Ibadan Fashion Week 2019</p>
</div>
</div>
<script src="/javascript/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
<!-- <script src="/javascript/frontEndValidate.js"></script> -->
</body>

</html>