<% include partials/header %>

<div class="status-wrapper text-center">
        <div class="page-not-found">
                <h1>404</h1>
                <p>The page you are looking for does not exist here!</p>
        </div>
</div>


<% include partials/footer %>