<% include partials/header %>

<div class="wrapper">
    <div class="column1">
        <a class="brand-logo" href="#">Logo</a>
    </div>
    <div class="column2">
        <div class="header-content">
            <div class="img-slider">
                image slider
            </div>
            <div class="main-header">
                <h1>T & T <br>Fashion Week</h1>
                <a class="btn" href="/register">Register</a>
            </div>
        </div>
    </div>
    <div class="column3">
    </div>
</div>

<% include partials/footer %>