<% include partials/header %>

<div class="wrapper">
    <div class="column1">Logo</div>
    <div class="column2">Title</div>
    <div class="column3">Nav</div>
    
    <div class="img-slider">
        IMAGE SLIDER
    </div>
</div>

<% include partials/footer %>