<% include partials/header %>
<div class="container">
    <div class="header">
        <div class="header-title">
            <div>
                <h1>Welcome to<br>Fashion Network</h1>
            </div>
            <a class="btn" href="/register">Register</a>
        </div>
    </div>
    <ul class="slideshow">
        <li>
            <p>Photography</p>
        </li>
        <li>
            <p>Fashion Design|Styling</p>
        </li>
        <li>
            <p>Modelling</p>
        </li>
        <li>
            <p>Make Up</p>
        </li>
    </ul>
</div>
<div class="section container">
    <h2>Meet Our Facilitators</h2>
    <div class="grid">
        <div>
            <img src="/images/images.png" alt="">
            <p>Lorem Ipsum dolor</p>
        </div>
        <div>
            <img src="/images/images.png" alt="">
            <p>Lorem Ipsum dolor</p>
        </div>
        <div>
            <img src="/images/images.png" alt="">
            <p>Lorem Ipsum dolor</p>
        </div>
        <div>
            <img src="/images/images.png" alt="">
            <p>Lorem Ipsum dolor</p>
        </div>
    </div>
</div>

<% include partials/footer %>