<% include partials/header %>

<div class="main-header">
    <div class="header-title">
        <h1 class="wow slideInDown">I Fashion Network</h1>
        <br>
        <p class="wow fadeIn">...acquire great skills learning from our experts</p>

        <a href="/register" class="btn btn-crimson wow slideInLeft">Register</a>
    </div>
    <div class="header-content">
        <div></div>
        <div class="slider-main-wrapper">
            <ul class="slideshow">
                <li>
                    <span>Photography</span>
                </li>
                <li>
                    <span>Fashion Design|Styling</span>
                </li>
                <li>
                    <span>Modelling</span>
                </li>
                <li>
                    <span>Beauty</span>
                </li>
            </ul>

            <div>
                <h2 class="text-center wow zoomIn">Meet the Speakers</h2>
            </div>
            <div class="slide-wrapper text-center owl-carousel">
                <div class="wow flipInY slide" data-wow-delay="0.3s">
                    <img class="img-responsive" src="/images/sponsor.jpg" alt="">
                    <h4 class="speaker">Tosin Ogundadegbe <span class="meta">(The Styleinfidel)</span></h4>
                    <p class="desc">Stylist and creative Styleinfidel Studios</p>
                </div>
                <div class="wow flipInY slide" data-wow-delay="0.3s">
                    <img class="img-responsive" src="/images/IMG-20190415-WA0019.jpg" alt="">
                    <h4 class="speaker">Emmanuel Arewa</h4>
                    <p class="desc">Creative Head Spotlight Photos & Imagery</p>
                </div>
                <div class="wow flipInX delay-1s slide" data-wow-delay="0.4s">
                    <img class="img-responsive" src="/images/IMG-20190417-WA0003.jpg" alt="">
                    <h4 class="speaker">Ejiro Amos Tafiri</h4>
                    <p class="desc">Creative Director EAT</p>
                </div>
                <div class="wow flipInY slide" data-wow-delay="0.5s">
                    <img class="img-responsive" src="/images/images.png" alt="">
                    <h4 class="speaker">Uchenna Okwudima</h4>
                    <p class="desc">Director MyBooker Models</p>
                </div>
                <div class="wow flipInX slide" data-wow-delay="0.6s">
                    <img class="img-responsive" src="/images/images.png" alt="">
                    <h4 class="speaker">Lorem Ipsum Dolor</h4>
                    <p class="desc">Speaker 5</p>
                </div>
            </div>

        </div>
    </div>
</div>

<section class="event-detail">
    <div class="event-desc">
        <h3 class="crimson">Promoting Enterprise</h3>
        <p class="main-desc">ifashion Network launches its 1<sup>st</sup> ever edition of the event which
            is aimed at projecting the diverse angles of the fashion industry by bringing
            together great minds in training to develop a sustainable fashion chain.
        </p>
        <div class="event">
           <p><span class="crimson">Date:</span> 4th May, 2019</p> 
           <p><span class="crimson">Venue:</span> Oja Place, Heritage Mall (Shoprite) Dugbe, Ibadan</p>
           <p><span class="crimson">Time:</span> 10AM - 6PM</p>
        </div>
    </div>
    <div class="flier-wrap">
        <img class="img-responsive" src="/images/flier.jpg" alt="">
        <a class="btn btn-crimson" href="/images/flier.jpg" download>Download Flier</a>
    </div>
</section>

<div class="section">
    <h2 class="wow flash section-header">Meet the Speakers</h2>
    <div class="grid">
        <div class="wow flipInY slide" data-wow-delay="0.3s">
            <img class="img-responsive" src="/images/sponsor.jpg" alt="">
            <h4 class="speaker">Tosin Ogundadegbe <span class="meta">(The Styleinfidel)</span></h4>
            <p class="desc">Stylist and creative Styleinfidel Studios</p>
        </div>
        <div class="wow flipInY slide" data-wow-delay="0.3s">
            <img class="img-responsive" src="/images/IMG-20190415-WA0019.jpg" alt="">
            <h4 class="speaker">Emmanuel Arewa</h4>
            <p class="desc">Creative Head Spotlight Photos & Imagery</p>
        </div>
        <div class="wow flipInX delay-1s slide" data-wow-delay="0.4s">
            <img class="img-responsive" src="/images/IMG-20190417-WA0003.jpg" alt="">
            <h4 class="speaker">Ejiro Amos Tafiri</h4>
            <p class="desc">Creative Director EAT</p>
        </div>
        <div class="wow flipInY slide" data-wow-delay="0.5s">
            <img class="img-responsive" src="/images/images.png" alt="">
            <h4 class="speaker">Uchenna Okwudima</h4>
            <p class="desc">Director MyBooker Models</p>
        </div>
        <div class="wow flipInX slide" data-wow-delay="0.6s">
            <img class="img-responsive" src="/images/images.png" alt="">
            <h4 class="speaker">Lorem Ipsum Dolor</h4>
            <p class="desc">Speaker 5</p>
        </div>
    </div>
</div>

<% include partials/footer %>