<% include partials/header %>

<div class="landing-wrapper">
<div class="landing-header">
    <div>
        <h1 class="wow fadeInDown">Welcome to<br>Fashion Network</h1>
    </div>
    <a class="btn wow bounceInLeft" href="/register">Register</a>
</div>
<ul class="slideshow">
    <li>
        <p>Photography</p>
    </li>
    <li>
        <p>Fashion Design|Styling</p>
    </li>
    <li>
        <p>Modelling</p>
    </li>
    <li>
        <p>Make Up</p>
    </li>
</ul>
</div>
</div>


<div class="section container">
    <h2 class="wow flash section-header">Meet Our Facilitators</h2>
    <div class="grid">
        <div class="wow flipInY" data-wow-delay="0.3s">
            <img src="/images/images.png" alt="">
            <p>Lorem Ipsum dolor</p>
        </div>
        <div class="wow flipInX delay-1s" data-wow-delay="0.4s">
            <img src="/images/images.png" alt="">
            <p>Lorem Ipsum dolor</p>
        </div>
        <div class="wow flipInY" data-wow-delay="0.5s">
            <img src="/images/images.png" alt="">
            <p>Lorem Ipsum dolor</p>
        </div>
        <div class="wow flipInX" data-wow-delay="0.6s">
            <img src="/images/images.png" alt="">
            <p>Lorem Ipsum dolor</p>
        </div>
    </div>
</div>

<% include partials/footer %>