<% include partials/header %>

<div class="main-header">
    <div class="header-title">
        <h1 class="wow slideInDown">I Fashion Network</h1>
        <br>
        <p class="wow fadeIn">...acquire great skills learning from our experts</p>

        <a href="/register" class="btn btn-crimson wow slideInLeft">Sign Up</a>
    </div>
    <div class="header-content">
        <div></div>
        <div class="slider-main-wrapper">
            <ul class="slideshow">
                <li>
                    <span>Photography</span>
                </li>
                <li>
                    <span>Fashion Design|Styling</span>
                </li>
                <li>
                    <span>Modelling</span>
                </li>
                <li>
                    <span>Make Up</span>
                </li>
            </ul>

            <div>
                <h2 class="text-center wow zoomIn">Our Facilitators</h2>
            </div>
            <div class="slide-wrapper text-center owl-carousel">
                <div class="wow flipInY slide" data-wow-delay="0.3s">
                    <img class="img-responsive" src="/images/images.png" alt="">
                    <p>Facilitator 1</p>
                </div>
                <div class="wow flipInY slide" data-wow-delay="0.3s">
                    <img class="img-responsive" src="/images/images.png" alt="">
                    <p>Facilitator 2</p>
                </div>
                <div class="wow flipInX delay-1s slide" data-wow-delay="0.4s">
                    <img class="img-responsive" src="/images/images.png" alt="">
                    <p>Facilitator 3</p>
                </div>
                <div class="wow flipInY slide" data-wow-delay="0.5s">
                    <img class="img-responsive" src="/images/images.png" alt="">
                    <p>Facilitator 4</p>
                </div>
                <div class="wow flipInX slide" data-wow-delay="0.6s">
                    <img class="img-responsive" src="/images/images.png" alt="">
                    <p>Facilitator 5</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section">
    <h2 class="wow flash section-header">Meet Our Facilitators</h2>
    <div class="grid">
        <div class="wow flipInY" data-wow-delay="0.3s">
            <img src="/images/images.png" alt="">
            <p>Facilitator 1</p>
        </div>
        <div class="wow flipInY" data-wow-delay="0.3s">
            <img src="/images/images.png" alt="">
            <p>Facilitator 2</p>
        </div>
        <div class="wow flipInX delay-1s" data-wow-delay="0.4s">
            <img src="/images/images.png" alt="">
            <p>Facilitator 2</p>
        </div>
        <div class="wow flipInY" data-wow-delay="0.5s">
            <img src="/images/images.png" alt="">
            <p>Facilitator 3</p>
        </div>
        <div class="wow flipInX" data-wow-delay="0.6s">
            <img src="/images/images.png" alt="">
            <p>Facilitator 4</p>
        </div>
    </div>
</div>

<% include partials/footer %>