<% include partials/header %>

<div class="form-wrapper">
    <div class="sign-up cols-2">
        <div class="cover"></div>
        <form action="/register" method="POST" id="sign-up">
            <div class="form-wrap cols-2">
                <div class="span-2">
                    <h2 class="crimson">Welcome to iFashion Network</h2>
                    <h4>Let's get you set up!</h4>
                </div>
                <div>
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstname" placeholder="John" id="firstname">
                    <span class="fieldErr" id="firstError"></span>
                </div>

                <div>
                    <label for="lastname">Last Name</label>
                    <input type="text" name="lastname" placeholder="Doe" id="lastname">
                    <span class="fieldErr" id="lastError"></span>
                </div>

                <div>
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" placeholder="070-XXX-XXX-XXX" id="phone">
                    <span class="fieldErr" id="phoneError"></span>
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="somebody@fashionnetwork.com" id="email">
                    <span class="fieldErr" id="emailError"></span>
                </div>

                <div>
                    <label for="dob">Date of Birth</label>
                    <input type="date" name="age" id="dob" min="1939-01-01" max="2009-12-31">
                    <span class="fieldErr" id="dobError"></span>
                </div>

                <div>
                    <label for="gender">Gender</label>
                    <div class="gender-wrap">
                        <div class="gender-control">Male <input type="radio" name="gender" value="male" id="gender">
                        </div>
                        <div class="gender-control">Female <input type="radio" name="gender" value="female" id="gender">
                        </div>
                    </div>
                    <span class="fieldErr" id="genderError"></span>
                </div>

                <div>
                    <label for="state">State of Residence</label>
                    <select name="state" form="sign-up" id="state">
                        <option value="select" readonly selected>Select</option>
                        <option value="Abuja (FCT)">Abuja (FCT)</option>
                        <option value="Abia">Abia</option>
                        <option value="Adamawa">Adamawa</option>
                        <option value="Akwa Ibom">Akwa Ibom</option>
                        <option value="Anambra">Anambra</option>
                        <option value="Bauchi">Bauchi</option>
                        <option value="Bayelsa">Bayelsa</option>
                        <option value="Benue">Benue</option>
                        <option value="Borno">Borno</option>
                        <option value="Cross River">Cross River</option>
                        <option value="Delta">Delta</option>
                        <option value="Ebonyi">Ebonyi</option>
                        <option value="Edo">Edo</option>
                        <option value="Ekiti">Ekiti</option>
                        <option value="Enugu">Enugu</option>
                        <option value="Gombe">Gombe</option>
                        <option value="Imo">Imo</option>
                        <option value="Jigawa">Jigawa</option>
                        <option value="Kaduna">Kaduna</option>
                        <option value="Kano">Kano</option>
                        <option value="Katsina">Katsina</option>
                        <option value="Kebbi">Kebbi</option>
                        <option value="Kogi">Kogi</option>
                        <option value="Kwara">Kwara</option>
                        <option value="Lagos">Lagos</option>
                        <option value="Nasarawa">Nasarawa</option>
                        <option value="Niger">Niger</option>
                        <option value="Ogun">Ogun</option>
                        <option value="Ondo">Ondo</option>
                        <option value="Osun">Osun</option>
                        <option value="Oyo">Oyo</option>
                        <option value="Plateau">Plateau</option>
                        <option value="Rivers">Rivers</option>
                        <option value="Sokoto">Sokoto</option>
                        <option value="Taraba">Taraba</option>
                        <option value="Yobe">Yobe</option>
                        <option value="Zamfara">Zamfara</option>
                        <option value="=== Outside Nigeria ===">=== Outside Nigeria ===</option>
                    </select>
                    <span class="fieldErr" id="stateError"></span>
                </div>

                <div>
                    <label for="occupation">Occupation</label>
                    <select name="occupation" form="sign-up" id="occupation">
                        <option value="select" selected>Select</option>
                        <option value="graduate">Graduate</option>
                        <option value="Fashion Entrepreneur">Fashion Entrepreneur</option>
                        <option value="Employed">Employed</option>
                    </select>
                    <span class="fieldErr" id="occupationError"></span>
                </div>

                <div>
                    <label for="business name">Name of Business or Organization</label>
                    <input type="text" name="business" id="business">
                    <span class="fieldErr" id="businessError"></span>
                </div>

                <div class="span-2">
                    <h4 class="text-center crimson">Select Masterclass</h4>
                    <div class="masterclass-wrap">
                        <div>
                            <img class="speaker-img" src="/images/IMG-20190415-WA0019.jpg" alt="Emmanuel Arewa">
                            <label>
                                <input type="checkbox" name="course[]" id="course" value="Photography">
                                <span>Emmanuel Arewa</span>
                            </label>
                            <h5>Photography</h5>
                            <p class="theme">The art of storytelling and the role of photography/visuals in creating a
                                sustainable fashion chain</p>
                            <p class="duration">12:00pm - 12:45pm</p>
                        </div>
                        <div>
                            <img class="speaker-img" src="/images/mod.jpg" alt="">
                            <label>
                                <input type="checkbox" name="course[]" id="course" value="Modelling">
                                <span>Uchenna Okwudima</span>
                            </label>
                            <h5>Modelling</h5>
                            <p class="theme">The role of models in creating a sustainable fashion chain</p>
                            <p class="duration">12:45pm - 1:20pm</p>
                        </div>
                        <div>
                            <div>
                                <img class="speaker-img" src="/images/beauty.jpg" alt="">
                            </div>
                            <label>
                                <input type="checkbox" name="course[]" id="course" value="Makeup">
                                <span>Laila Cadne</span>
                            </label>
                            <h5>Beauty</h5>
                            <p class="theme">The role of beauty in creating a sustainable fashion chain</p>
                            <p class="duration">1:20pm - 2:00pm</p>
                        </div>
                        <div>
                            <img class="speaker-img" src="/images/sponsor.jpg" alt="">
                            <label>
                                <input type="checkbox" name="course[]" id="course" value="Fashion Styling">
                                <span>Tosin Ogundadegbe</span>
                            </label>
                            <h5>Fashion Styling</h5>
                            <p class="theme">The role of styling/creative direction in creating a sustainable fashion
                            </p>
                            <p class="duration">2:00pm - 2:35pm</p>
                        </div>
                        <div>
                            <img class="speaker-img" src="/images/IMG-20190417-WA0003.jpg" alt="">
                            <label>
                                <input type="checkbox" name="course[]" id="course" value="Fashion Design">
                                <span>Ejiro Amos Tafiri</span>
                            </label>
                            <h5>Fashion Design</h5>
                            <p class="theme">The role of fashion design and the target market in creating sustainable fashion chain</p>
                            <p class="duration">2:35pm - 3:30pm</p>
                        </div>
                    </div>
                    <span class="fieldErr" id="courseError"></span>
                </div>

                <div class="span-2">
                    <label class="text-center amount-header" for="amount">
                        <h2>Amount to Pay</h2>
                    </label>
                    <input class="text-center amount" type="text" name="amount" value="2000" readonly>
                </div>
                <div class="span-2">
                    <button class="btn btn-blue" id="signUp">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

<% include partials/footer %>