<% include partials/header %>

<div class="container">
    <div class="form-wrapper">
        <h1 class="text-center">New Application</h1>
        <form action="/register" method="POST">
            <div class="form-grid">
                <div>
                    <!-- <label for="">Firstname</label> -->
                    <input type="text" name="firstname" required placeholder="First Name">
                </div>
                <div>
                    <!-- <label for="">Lastname</label> -->
                    <input type="text" name="lastname" required placeholder="Last Name">
                </div>
                <div>
                    <!-- <label for="">Phone Number</label> -->
                    <input type="text" name="phone" required placeholder="Phone Number">
                </div>
                <div>
                    <!-- <label for="">Age</label> -->
                    <input type="number" required name="age" placeholder="Age">
                </div>
                <div class="span-2 text-center" style="display: flex;">
                    <label for="gender">Gender:</label>
                    <div class="form-grid text-center">
                        <p>Male <input type="radio" selected name="gender" id="" value="male"></p>
                        <p>Female <input type="radio" name="gender" id="" value="female"></p>
                    </div>
                </div>
                <div class="span-2">
                    <!-- <label for="">Email</label> -->
                    <input type="email" name="email" id="" required placeholder="Email">
                </div>

                <div class="span-2">
                    <h2 class="course">Select Courses</h2>
                    <hr class="form-divider">
                    <span class="space"></span>
                    <div class="form-grid checkbox-control">
                        <div><input type="checkbox" name="course"> Photography</div>
                        <div><input type="checkbox" name="course"> Fashing Design|Styling</div>
                        <div><input type="checkbox" name="course"> Modelling</div>
                        <div><input type="checkbox" name="course"> Make Up </div>
                    </div>
                    <hr class="form-divider">
                    <!-- <div class="form-grid">
                        <select name="course" id="" required>
                            <option disabled selected>Select Course 1</option>
                            <option value="course">Course</option>
                            <option value="course">Course</option>
                            <option value="course">Course</option>
                        </select>
                        <select name="course" id="" required>
                            <option disabled selected>Select Course 2</option>
                            <option value="course">Course</option>
                            <option value="course">Course</option>
                            <option value="course">Course</option>
                        </select>
                    </div> -->
                </div>
                <div class="span-2 text-center">
                    <label for="amount">Amount to Pay</label>
                    <div class="naira-control">
                        <span>&#8358;</span><input type="text" required name="amount" placeholder="Amount" value="2000"
                            readonly>
                    </div>
                </div>
            </div>
            <input type="submit" value="Register">
        </form>
    </div>

    <% include partials/footer %>