<% include partials/header %>

<div class="form-wrapper">
    <form action="/register">
        <div>
            <input type="text" name="firstname" placeholder="First Name">
            <input type="text" name="middlename" placeholder="Middle Name">
        </div>
       
        <input type="text" name="lastname" placeholder="Last Name">
        <input type="date" name="dob" >
        <input type="radio" name="gender" id=""> Male
        <input type="radio" name="gender" id=""> Female
        <input type="email" name="" id="" placeholder="Email">
        <select name="course" id=""></select>
        <button>Submit</button>
    </form>
</div>

<% include partials/footer %>