<% include partials/header %>

    <div class="form-wrapper">
        <h1 class="text-center">New Application</h1>
        <form action="/register" method="POST" name="myForm" onsubmit="return validateForm()">
            <div class="form-grid">
                <div>
                    <!-- <label for="">Firstname</label> -->
                    <input type="text" name="firstname" id="firstname" placeholder="First Name">
                    <span class="field" id="firstError"></span>
                </div>
                <div>
                    <!-- <label for="">Lastname</label> -->
                    <input type="text" name="lastname" id="lastname" placeholder="Last Name">
                    <span class="field" id="lastError"></span>
                </div>
                <div>
                    <!-- <label for="">Phone Number</label> -->
                    <input type="text" name="phone"  id="phone" placeholder="Phone Number">
                    <span class="field" id="phoneError"></span>
                </div>
                <div>
                    <!-- <label for="">Age</label> -->
                    <input type="number"  name="age" id="age" placeholder="Age" maxlength="3">
                    <span class="field" id="ageError"></span>
                </div>
                <div class="span-2 text-center">
                    <div style="display:flex">
                    <label for="gender">Gender:</label>
                    <div class="form-grid text-center">
                        <p> <label for="male">Male</label> <input type="radio" name="gender" id="gender" value="male"></p>
                        <p><label for="male">Female</label><input type="radio" name="gender" id="gender" value="female"></p>
                    </div>
                </div>
                    <span class="field" id="genderError"></span>
                </div>
        
                <div class="span-2">
                    <!-- <label for="">Email</label> -->
                    <input type="email" name="email" id="email"  placeholder="Email">
                    <span class="field" id="emailError"></span>
                </div>

                <div class="span-2">
                    <h4 class="course">Select Two Courses</h4>
                    <hr class="form-divider">
                    <span class="space"></span>
                    <div class="form-grid checkbox-control">
                        <div><input type="checkbox" name="course[]" id="course" value="Photography"> Photography</div>
                        <div><input type="checkbox" name="course[]" id="course" value="Fashing Design & Styling"> Fashing Design|Styling</div>
                        <div><input type="checkbox" name="course[]" id="course" value="Modelling"> Modelling</div>
                        <div><input type="checkbox" name="course[]" id="course" value="Make Up"> Make Up </div>
                    </div>
                    <span class="field" id="courseError" class="span-2"></span>
                    <hr class="form-divider">
                </div>
                <div class="span-2  text-center">
                    <label for="amount">Amount to Pay</label>
                    <div class="naira-control text-center">
                        <h1>&#8358;2000</h1>
                        <input type="text"  name="amount" placeholder="Amount" value="2000" readonly>
                    </div>
                </div>
            </div>
            <input type="submit" value="Register" class="btn-register text-center">
        </form>
    </div>

    <% include partials/footer %>