<% include partials/header %>

<div class="form-wrapper">
    <form action="/register" method="POST">
        <div>
            <label for="">Firstname</label>
            <input type="text" name="firstname" required placeholder="First Name">
        </div>
        <div>
            <label for="">Lastname</label>
            <input type="text" name="lastname" required placeholder="Last Name">
        </div>
        <div>
            <label for="">Phone Number</label>
            <input type="text" name="phone" required placeholder="Phone Number">
        </div>
        <div>
            <label for="">Age</label>
            <input type="number" required name="age"  placeholder="Age">
        </div>
        <div>
            <label for="">Amount</label>
            <input type="number" required name="amount"  placeholder="Amount" value="300">
        </div>
        <div>
            <label for="">Gender</label>
            <input type="radio" selected name="gender" id="" value="male"> Male
            <input type="radio" name="gender" id="" value="female"> Female
        </div>
        <div>
            <label for="">Email</label>
            <input type="email" name="email" id="" required placeholder="Email">
        </div>
        <div>
            <label for="">Select Course</label>
            <select name="course" id="" required>
                <option value="course">Course</option>
                <option value="course">Course</option>
                <option value="course">Course</option>
                <option value="course">Course</option>
            </select>
        </div>
        <!-- <select name="course" id=""></select> -->
        <input type="submit" value="Submit">
    </form>
</div>

<% include partials/footer %>