.admin-page-position {
    padding: 0 5vw;
}

.admin-page-position h2 {
    color: rgb(7, 11, 53);
}

.table-wrapper::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.table-wrapper::-webkit-scrollbar-track {
    background: transparent; 
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: rgba(220, 20, 60, 0.666); 
    border-radius: 10px;
  }

.table-wrapper {
    width: 100%;
    overflow-x: scroll;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper th {
    text-align: left;
    background: black;
    color: white;
    text-align: center;
}

.table-wrapper th, td {
   padding: 10px;
   flex-wrap: wrap;
}

.table-wrapper table tr:nth-child(2n) {
    background: rgb(212, 203, 203);
 }

 .admin-delete-btn {
     background: rgba(255, 0, 0, 0.741);
     padding: 5px 10px;
     border: none;
     text-decoration: none;
     border-radius: 5px;
     color: white;
     width: -webkit-fill-available;
     box-shadow: 0 0 2px 0 rgb(82, 78, 78);
     text-align: center;
     font-size: .9rem;
 }

 .admin-delete-btn:hover {
    box-shadow: none;
}


#login-btn, #print-btn {
    text-align: center;
    margin: auto;
    display: block;
}
#login-btn {
    width: 40%;
}
#print-btn {
    margin-top: 2rem;
    /* width: 8rem; */
}

.admin h2 {
    border-bottom: 2px solid rgba(136, 130, 130, 0.469);
    width: max-content;
    padding-bottom: 5px;

}

.admin label {
    padding-bottom: .5rem;
    display: block;
    font-weight: bold;
}

.admin span {
    color: red;
    font-size: 12px;
    display: block;
    padding-bottom: 1.5rem;
    padding-top: .5rem;
}

.admin-login {
    height: 2.5rem !important;
    text-align: center;
    margin-bottom: 0.2rem !important;
}

.login-wrapper {
    max-width: 25rem;
    padding: 10px 20px 30px;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(75, 67, 67, 0.4);
    cursor: pointer;
    border-radius: 6px;
    display: block;
    margin: 4rem auto;
}

.user-info-wrap {
    max-width: 500px;
    margin: 3rem auto;
    box-shadow: 0 0 4px 0.4px lightgrey;
    padding: 2rem;
    border-radius: 8px;
}

.user-info-wrap form {
    padding-top: 2rem;
}
.user-info-wrap form button {
    width: 50%;
    margin: auto;
    display: block;
}

.user-info-wrap p span {
    font-weight: 800;
}

.user-info-wrap p {
    font-size: 18px;
}

.user-info-wrap h2 {
    text-align: center;
    border-bottom: 2px solid lightgray;
    width: 80%;
    margin: auto;
}