.table-wrapper {
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper th {
    text-align: left;
    background: black;
    color: white;
}

.table-wrapper th, td {
   padding: 10px;
   flex-wrap: wrap;
}

.table-wrapper table tr:nth-child(2n) {
    background: rgb(212, 203, 203);
 }

 .admin-delete-btn {
     background: rgba(255, 0, 0, 0.741);
     padding: 5px 10px;
     border: none;
     text-decoration: none;
     border-radius: 5px;
     color: white;
     width: -webkit-fill-available;
     box-shadow: 0 0 2px 0 rgb(82, 78, 78);
     text-align: center;
     font-size: .9rem;
 }

 .admin-delete-btn:hover {
    box-shadow: none;
}

.table-wrapper h2 {
    color: green;
}

.admin-login {
    box-shadow: 0 0 2.5px 0 rgb(248, 248, 248) !important;
    border: 1px solid white !important;
    height: 40px !important;
    display: block;
    border-radius: 8px;
    padding: 1rem 2rem;
}

.admin h2 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.659);
    width: max-content;
    padding-bottom: 5px;
    color: white;
}

.admin label {
    padding-bottom: 10px;
    padding-top: 20px;
    display: block;
    font-weight: bold;
}

.admin span {
    color: red;
    font-size: 12px;
    display: block;
    padding-top: 8px;
}

.admin-login:focus {
    outline: none;
    background: transparent;
}

#login {
    width: 50%;
    background:  #E7434C;
    padding: 10px;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(75, 67, 67, 0.4);
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 6px;
    display: block;
    margin: 30px auto 0;
}

#print-btn {
    width: max-content;
    background:  green;
    padding: 10px;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(75, 67, 67, 0.4);
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 6px;
    display: block;
    margin: 30px auto 0;
}