.status-wrapper {
    padding-top: 8vh;
}

.error {
    background-color: red;
}

.success {
    background-color: green;
}

 .error, .success, .page-not-found {
	text-align: center;
	color: white;
    width: 70%;
    margin: auto;
    padding: 60px 15px;
    border-radius: 10px;
}

.error h1 {
    padding-top: 15px; 
}

.status-btn {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  width: fit-content;
  box-shadow: 0 -1px 8px 0 rgb(162, 141, 141);
  margin-top: 20px;
}

.page-not-found {
    background-color:rgb(146, 79, 79);
}


.page-not-found h1 {
    color: white;
    font-size: 6rem;
    margin: 0;
    padding: 0;
}


.alert {
    position: absolute;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    top: 4rem;
    padding: 10px 0;
    border-radius: 8px;
    color: white;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 0 2px 0.4px lightgray;
}

.alert-danger {
    background: rgba(255, 88, 88, 0.748);
}

.alert-success {
    background: rgba(67, 204, 67, 0.782);
}
