.status-wrapper {
    height: 100vh;
    padding-top: 25vh;
}

.error {
    background-color: red;
}

.success {
    background-color: green;
}

 .error, .success, .page-not-found {
	text-align: center;
	color: white;
    width: 60%;
    margin: auto;
    padding: 80px 10px;
    border-radius: 10px;
}

.error h1 {
    padding-top: 15px; 
}

.status-btn {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  width: fit-content;
  box-shadow: 0 -1px 8px 0 rgb(162, 141, 141);
  margin-top: 20px;
}

.page-not-found {
    background-color:red;
}


.page-not-found h1 {
    color: white;
    font-size: 8rem;
    margin: 0;
    padding: 0;
}


.alert {
   position: relative;
    width: 80%;
    text-align: center;
    margin: auto;
    top: 10vh;
    padding: 15px 0;
    z-index: 10;
    border-radius: 8px;
    color: white;
}

.alert-danger {
    background: rgb(240, 60, 60);
}

.alert-success {
    background: rgb(47, 175, 47);
}