* {
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    position: relative;
}

.wrapper {
    display: grid;
    grid-template-columns: 30% auto 5%;
    height: 100%;
    margin: 0 auto;
    width: 90%;
}


.column1 {
    background: black;
}

.column2 {
    background-color: beige;
}


.brand-logo {
    position: absolute;
    top: 5vh;
    left: 8vw;
    border: 2px solid rgba(190, 181, 181, 0.4);
    padding: 15px 10px;
    border-radius: 5px;
}
.header-content {
    height: 300px;
    position: relative;
    max-width: 600px;
    left: -10vw;
    top: 25vh;
}

.main-header, .img-slider {
    float: left;
}

.main-header {
text-align: center;
margin-left: 50px;
}

.img-slider {
    width: 300px;
    height: 100%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
}

.btn {
    text-decoration: none;
    padding: 10px 30px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    color: white;

}

.form-wrapper{
    width: 450px;
    margin: 25vh auto;
}