* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    color: aliceblue;
}

.wrapper {
    display: grid;
    grid-template-areas: "c1 c1 c1 c2 c2 c2 c2 c2 c2 c2 c2 c3";
    width: 100%;
    height: 100%;
}



.wrapper .column1 {
    grid-area: c1;
    background-color: black;
}

.wrapper .column2 {
    grid-area: c2;
    background-color: gray;
}

.wrapper .column3 {
    grid-area: c3;
    background-color:gainsboro;
}

.img-slider {
    border: 2px solid white;
    height: 100px;
    position: absolute;
    left: 15vw;
    top: 30vh;
    max-width: 150px;
}